@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Playfair Display", serif;;
}

header { 
    background-color: #782C0E;
    display: flex;
    justify-content:space-between;
    padding: 10px 50px;
    align-items: center; 
}

.logo h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #b1740f;
}


.banner {
    background: url(https://cdn.shopify.com/s/files/1/0020/8538/8370/files/Bledel_Banner.jpg?v=1655294654)
    no-repeat center center/cover; 
    text-align: center; 
    width: 100%;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-contenido {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
    max-width: 600px; 
    margin: 0 auto; 
    width: 90%; 
}

.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;   
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #782C0E;
    color: #ddd;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b1740f;
}


/*Sección nuestros valores*/

.valores {
    background-color: #FDF6E3;
    padding: 50px 20px;
    text-align: center;
}

.valores h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #A6493E;
    margin-bottom: 20px;
}

.valores-contenido {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card-valor {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-valor h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card-valor p {
    font-size: 1rem;
}

/*Sección nuestra colección*/

#productos {
    background-color: #FDF6E3;
    padding: 50px 20px;
    text-align: center;
    
}

#productos h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #A6493E;
    margin-bottom: 20px;
}

.productos-contenido {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card-producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-producto img {
    width: 300px;
    border-radius: 10px;
}

.card-producto h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.card-producto p {
    font-size: 1.2rem;
}

/*Sección nuestra historia*/ 
#historia {
    background-color: #FDF6E3;
    padding: 50px 20px;
    text-align: center;
}

#historia h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #A6493E;
    margin-bottom: 20px
}

#historia p {
    font-size: 1rem;
}

#historia img {
    margin-top: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Sección contacto y tienda */

#contacto {
    padding: 50px 20px;
    background-color: #ddd;
}

.contacto-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.tienda, .contacto {
    flex: 1 1 calc(50% - 20px); /*Columna Responsive */
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

/* Tienda  */
.tienda h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.tienda iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
}

/* formulario contacto */
.contacto h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.contacto form {
    display: flex;
    flex-direction: column;
}

.contacto label {
    margin-bottom: 10px;
    font-weight: 700;
    color: #555;
}

.contacto input, .contacto textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.contacto button {
    background: #782C0E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto button:hover {
    background: #b1740f;
}
/*footer */
footer {
    background: #782C0E;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
    font-weight: 700;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0 0;
    padding: 0;
}

footer ul li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #b1740f;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        padding: 10px 20px;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    /* Redimensionar banner */
    .banner {
        height: auto; 
        padding: 50px 20px;
    }

    .banner h2 {
        font-size: 1.8rem; 
    }

    .banner p {
        font-size: 1rem;
    }

    .banner a {
        font-size: 1rem;
        padding: 10px;
    }

    /*Sección de valores */
    .valores-contenido {
        flex-direction: column;
        gap: 20px;
    }

    .card-valor {
        width: 90%; 
        margin: 0 auto;
    }

    /* Sección productos */
    .productos-contenido {
        flex-direction: column;
        gap: 20px;
    }

    .card-producto img {
        width: 100%; 
    }

    /* Sección historia */
    #historia img {
        width: 90%; 
        margin: 0 auto;
    }

    /* Sección contacto */
    .contacto-contenedor {
        flex-direction: column;
        gap: 20px;
    }

    .tienda, .contacto {
        flex: 1 1 100%; 
    }

    /* Footer */
    footer ul {
        flex-direction: column;
        gap: 10px;
    }
}
