* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #782C0E;
    display: flex;
    justify-content:space-between;
    padding: 10px 50px;
    align-items: center;
    
}

.logo {
    color: #ddd;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: #ddd;
    font-size: 16px;
    font-weight: bold;
}

.banner {
    background: url(https://cdn.shopify.com/s/files/1/0020/8538/8370/files/Bledel_Banner.jpg?v=1655294654)
    no-repeat center center/cover; 
    text-align: center; 
    padding: 200px 20px;
}
.banner-contenido {
    
    padding-bottom: 10px;
}

.banner h2 {
    font-size: 40px;
    
    margin-bottom: 10px;   
}
.banner p {
    margin-bottom: 15px;
    font-size: 16px;
}
.btn {
    color: #ddd;
    background-color: #782C0E;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}


